<!DOCTYPE html>
<html>
<head>
	<title>My Bio Page</title>
	<link rel="stylesheet" href="me.css"/>
</head>
<body>
	<div id="profile_picture">
		<%= image_tag("profile_picture.jpg",  size: "150x150") %>
	</div>
	<h2> <b>Name:</b> Miguel </h2>
	<h3> <b>Where I am from:</b> Perris, CA </h3>
	<h3><b>My year:</b> Senior</h3>
	<h3><b>Fun Fact:</b> I was born on the <i>Stanfurd</i> campus</h3>
	<h3><b>What am I excited about:</b> I am excited to learn more about rails and continue on the rails application I made for a non-profit</h3>
</body>
</html>